// global
$text-h1: 32px;
$text-h2: 29px;
$text-h3: 25px;
$text-h4: 21px;
$text-h5: 19px;
$text-h6: 17px;
$text-body-maxus: 15px;
$text-body: 13px;
$text-body-minus: 12px;

// layout
$appMaxWidth: 1354px;
$normalNavHeight: 50px;
// 定制页码高度
$paginationHeight: 52px;

// color
$main-color: #385fff;
$link-color: #2F4DDB;
$tip-color: #838996;
$error-color: #FF2900;
$success-color: #28CC8B;

$color-black: #3B4A6B;
$color-white: white;

$border-grey: rgba(232,238,243,1);

// gutter
$normal-gutter: 15px;
$large-gutter: 20px;

// input
$input-height: 40px;
$textarea-height: 90px;

// sidebar
$menuText: #3C4A6B;
$menuActiveText: #3C4A6B;
$subMenuActiveText: #3C4A6B; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #ccc;
$menuHover: #838996;
$menuBgActive: #838996;

$subMenuBg: #ccc;
$subMenuHover: #838996;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
